* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
}

body > .site .site-inner {
  width: 1140px;
  margin: 0 auto;
  font-size: 1.6em;
  overflow: hidden;
}

.site #top {
  height: 3em;
  background: linear-gradient(135deg, #5f436e 25%, white 0, white 50%, #5f436e 0, #5f436e 75%, white 0);
  background-size: 200px 200px;
  border-bottom: 1px solid #ccc;
}

@media (max-width: 1280px) {
  body > .site .site-inner {
    width: 960px;
  }
}

@media (max-width: 1024px) {
  body > .site .site-inner {
    width: 100%;
    padding: 0 0.6em;
  }
  .site #top {
    height: 2em;
    background-size: 100px 100px;
  }
}


.site-header {
  padding-top: 1.5em;
}

.site-header .site-header-main {
  margin-bottom: 3em;
}

.site-header .site-header-main:after {
  content: '';
  display: table;
  clear: both;
}

.site-header .site-tabs, .site-header .site-branding {
  float: left;
}

.site-header .site-tabs > ul {
  list-style: none;
}

.site-header .site-tabs > ul li {
  float: left;
  margin-left: 0.5rem;
}

.widget .widget-component {
  margin: 2em 0;
}

.widget .widget-component:after {
  content: '';
  display: table;
  clear: both;
}

.widget .widget-component > ul {
  list-style: none;
}

.widget .widget-component > ul li {
  float: left;
  line-height: 2em;
  margin-left: 0.8rem;
}

article {
  position: relative;
}

article .entry-header {
  margin-bottom: 1.2em;
}

article .entry-header .entry-title {
  display: block;
  margin-bottom: 0.5em;
}

article .entry-content {
  line-height: 1.6em;
  margin-bottom: 3em;
}

article .entry-content img {
  display: block;
  max-width: 100%;
  height: auto;
}

.site-article-list > article {
  margin-bottom: 2em;
}

.site-article-list > article .entry-content {
  margin-bottom: 1em;
}

.site-article-list > .pagination {
  text-align: center;
}

.site-article-list > .pagination li {
  display: inline-block;
}

footer {
  padding: 1em 0 1.6em;
  text-align: center;
}
